body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
img {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    margin:auto;
    margin-top: 200px;
    align-items: center;
    align-self: center;
}
img:hover {
    cursor: wait;
}
/* @keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}
img:hover{
    animation:spin 0.01s linear infinite;
    width: 280px;
    height: 280px;
    top: 40%;
    left: 40%;
    cursor: wait;
} */

